
.card-img-top {
  max-width: 100%;
  max-height: 10vh;
  height: 10vh;
  margin-top: 1.5vh;
  object-fit: contain;
}
.card-body{
  max-height: 15vh;
}
.recipe-card-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}
#recipeModalBody{
  padding-top: 0;
  margin-top: 0;
}
.modalContainer{
  max-width: 80vw !important;
  margin-top: 1vh;
}
.edit-button {
  border: none;
  background-color: transparent;
  opacity: 0.6;
}

.edit-button:hover {
  opacity: 1;
}

.card {
  position: relative;  /* Needed for absolute positioning of child elements */
}
#inventoryGrid .col {
  display: flex;  /* This is to make sure that the cards stretch to full height */
}

#inventoryGrid .card {
  width: 100%;  /* Ensures that the card takes the full width of its parent column */
  /*height: 100%; !* Ensures that the card takes the full height of its parent column *!*/
  /*These are the cards. They need a little shadow that is vw and vh based*/
    box-shadow: 0 0 0.3vw 0.3vh rgba(0, 0, 0, 0.2);
  padding: 1.2vh;
}
#inventoryGrid{
  height: 100%;
}
.mt-4{
  row-gap: 2vh;
}
.card-title{
  height: 6vh;
}

#addItemForm{
  margin-bottom: 5vh;
}
.card-text{
  margin-bottom: 1vh;
}
#scanner-container {
  width: 100%;
  height: 300px;
}
.drawingBuffer {
  width: 100%; /* It will take the full width of its container */
  max-width: 200px; /* Maximum width limit */
  height: auto; /* Maintain the aspect ratio */
}
#scanner-container video {
  width: 100%;
  max-width: 200px;
}

