
.card-img-top {
  max-width: 100%;
  max-height: 10vh;
  margin-top: 1.5vh;
  object-fit: contain;
}
.card-body{
  max-height: 15vh;
}
.recipe-card-body{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.modalContainer{
  max-width: 80vw !important;
}
.edit-button {
  border: none;
  background-color: transparent;
  opacity: 0.6;
}

.edit-button:hover {
  opacity: 1;
}

.card {
  position: relative;  /* Needed for absolute positioning of child elements */
}
#inventoryGrid .col {
  display: flex;  /* This is to make sure that the cards stretch to full height */
}

#inventoryGrid .card {
  width: 100%;  /* Ensures that the card takes the full width of its parent column */
  /*height: 100%; !* Ensures that the card takes the full height of its parent column *!*/
}
#inventoryGrid{
  height: 100%;
}
.mt-4{
  row-gap: 2vh;
}
.card-title{
  height: 6vh;
}

#addItemForm{
  margin-bottom: 5vh;
}